/* 底部 */
.BotTom {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    background-color: rgb(43, 43, 43);
}
/* 底部logo */
.BotTom_logo{
    width: 30vw;
    height: 100%;
}
.BotTom_logo img{
    width: 5vw;
    height: 9vh;
}
/* 底部图标 */
.BotTom .BotTom_tb{
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.BotTom .BotTom_tb ul li{
    list-style: none;
    width: 3vw;
    height: 5vh;
    line-height: 5vh;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    float: left;
    margin-left: 5vw;
}
/* .advertisement .item:nth-child(1){
    background-color: red;
}
.advertisement .item:nth-child(2){
    background-color: yellow;
}
.advertisement .item:nth-child(3){
    background-color: blue;
}
.advertisement .item:nth-child(4){
    background-color: green;
}
.advertisement .item:nth-child(5){
    background-color: black;
} */
.BotTom_li1:hover .wx{
    color: rgb(3, 217, 106);
}
.BotTom_li2:hover .qq{
    color: rgb(22, 120, 255);

}
.BotTom_li3:hover .wb{
    color: rgb(223, 32, 40);
}

.BotTom .BotTom_tb ul li a{
    font-size: 24px;
    text-decoration: none;
}